<section class="catalog section" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list list">
      <li class="catalog-list-item">
        <a href="#catalog" class="catalog-item-link link">
          <div class="catalog-top-div">
            <picture>
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock1.jpg    1x,
                  ./img/catalog-clock/catalog-clock1-2x.jpg 2x
                "
                media="(min-width:375px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock1.jpg    1x,
                  ./img/catalog-clock/catalog-clock1-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock1.jpg    1x,
                  ./img/catalog-clock/catalog-clock1-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <img
                src="./img/catalog-clock/catalog-clock1.jpg"
                alt=""
                width="276"
                height="325"
              />
            </picture>
            <div class="info">
              <svg width="24" height="24" class="catalog-icons">
                <use href="./img/catalog-clock/heart-icon.svg#heart-icon"></use>
              </svg>
              <div class="info-top-div">
                <p class="info-title-top">DESCRIPTION</p>
                <p class="info-text-top">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="info-bottom-div">
                <p class="info-title-bottom">DETAILS & FEATURESTION</p>
                <p class="info-text-bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />
                  Case Material: Metal <br />
                  Features: Multifunction <br />
                  Water Resistant: 5 (ATM) <br />
                  Band Colour: Steel <br />
                </p>
              </div>
            </div>
          </div>
          <div class="catalog-bottom-div">
            <p class="catalog-top-text">
              Tube Watch S42 Date Steel With Black Case
            </p>
            <span class="catalog-bottom-text">€395</span>
          </div>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#catalog" class="catalog-item-link link">
          <div class="catalog-top-div">
            <picture>
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock2.jpg    1x,
                  ./img/catalog-clock/catalog-clock2-2x.jpg 2x
                "
                media="(min-width:375px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock2.jpg    1x,
                  ./img/catalog-clock/catalog-clock2-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock2.jpg    1x,
                  ./img/catalog-clock/catalog-clock2-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <img
                src="./img/catalog-clock/catalog-clock2.jpg"
                alt=""
                width="276"
                height="325"
              />
            </picture>
            <div class="info">
              <svg width="24" height="24" class="catalog-icons">
                <use href="./img/catalog-clock/heart-icon.svg#heart-icon"></use>
              </svg>
              <div class="info-top-div">
                <p class="info-title-top">DESCRIPTION</p>
                <p class="info-text-top">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="info-bottom-div">
                <p class="info-title-bottom">DETAILS & FEATURESTION</p>
                <p class="info-text-bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />
                  Case Material: Metal <br />
                  Features: Multifunction <br />
                  Water Resistant: 5 (ATM) <br />
                  Band Colour: Steel <br />
                </p>
              </div>
            </div>
          </div>
          <div class="catalog-bottom-div">
            <p class="catalog-top-text">Avondale Watch Police For Men</p>
            <span class="catalog-bottom-text">€800</span>
          </div>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#catalog" class="catalog-item-link link">
          <div class="catalog-top-div">
            <picture>
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock3.jpg    1x,
                  ./img/catalog-clock/catalog-clock3-2x.jpg 2x
                "
                media="(min-width:375px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock3.jpg    1x,
                  ./img/catalog-clock/catalog-clock3-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock3.jpg    1x,
                  ./img/catalog-clock/catalog-clock3-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <img
                src="./img/catalog-clock/catalog-clock3.jpg"
                alt=""
                width="276"
                height="325"
              />
            </picture>
            <div class="info">
              <svg width="24" height="24" class="catalog-icons">
                <use href="./img/catalog-clock/heart-icon.svg#heart-icon"></use>
              </svg>
              <div class="info-top-div">
                <p class="info-title-top">DESCRIPTION</p>
                <p class="info-text-top">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="info-bottom-div">
                <p class="info-title-bottom">DETAILS & FEATURESTION</p>
                <p class="info-text-bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />
                  Case Material: Metal <br />
                  Features: Multifunction <br />
                  Water Resistant: 5 (ATM) <br />
                  Band Colour: Steel <br />
                </p>
              </div>
            </div>
          </div>
          <div class="catalog-bottom-div">
            <p class="catalog-top-text">
              Diver 300M Co‑Axial Master Chronometer Chronograph
            </p>
            <span class="catalog-bottom-text">€600</span>
          </div>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#catalog" class="catalog-item-link link">
          <div class="catalog-top-div">
            <picture>
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock4.jpg    1x,
                  ./img/catalog-clock/catalog-clock4-2x.jpg 2x
                "
                media="(min-width:375px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock4.jpg    1x,
                  ./img/catalog-clock/catalog-clock4-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock4.jpg    1x,
                  ./img/catalog-clock/catalog-clock4-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <img
                src="./img/catalog-clock/catalog-clock4.jpg"
                alt=""
                width="276"
                height="325"
              />
            </picture>
            <div class="info">
              <svg width="24" height="24" class="catalog-icons">
                <use href="./img/catalog-clock/heart-icon.svg#heart-icon"></use>
              </svg>
              <div class="info-top-div">
                <p class="info-title-top">DESCRIPTION</p>
                <p class="info-text-top">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="info-bottom-div">
                <p class="info-title-bottom">DETAILS & FEATURESTION</p>
                <p class="info-text-bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />
                  Case Material: Metal <br />
                  Features: Multifunction <br />
                  Water Resistant: 5 (ATM) <br />
                  Band Colour: Steel <br />
                </p>
              </div>
            </div>
          </div>
          <div class="catalog-bottom-div">
            <p class="catalog-top-text">
              Diver 300M Co-Axial Master Chronometer
            </p>
            <span class="catalog-bottom-text">€1400</span>
          </div>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#catalog" class="catalog-item-link link">
          <div class="catalog-top-div">
            <picture>
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock5.jpg    1x,
                  ./img/catalog-clock/catalog-clock5-2x.jpg 2x
                "
                media="(min-width:375px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock5.jpg    1x,
                  ./img/catalog-clock/catalog-clock5-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock5.jpg    1x,
                  ./img/catalog-clock/catalog-clock5-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <img
                src="./img/catalog-clock/catalog-clock5.jpg"
                alt=""
                width="276"
                height="325"
              />
            </picture>
            <div class="info">
              <svg width="24" height="24" class="catalog-icons">
                <use href="./img/catalog-clock/heart-icon.svg#heart-icon"></use>
              </svg>
              <div class="info-top-div">
                <p class="info-title-top">DESCRIPTION</p>
                <p class="info-text-top">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="info-bottom-div">
                <p class="info-title-bottom">DETAILS & FEATURESTION</p>
                <p class="info-text-bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />
                  Case Material: Metal <br />
                  Features: Multifunction <br />
                  Water Resistant: 5 (ATM) <br />
                  Band Colour: Steel <br />
                </p>
              </div>
            </div>
          </div>
          <div class="catalog-bottom-div">
            <p class="catalog-top-text">Taman Watch By Police For Men</p>
            <span class="catalog-bottom-text">€500</span>
          </div>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#catalog" class="catalog-item-link link">
          <div class="catalog-top-div">
            <picture>
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock6.jpg    1x,
                  ./img/catalog-clock/catalog-clock6-2x.jpg 2x
                "
                media="(min-width:375px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock6.jpg    1x,
                  ./img/catalog-clock/catalog-clock6-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock6.jpg    1x,
                  ./img/catalog-clock/catalog-clock6-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <img
                src="./img/catalog-clock/catalog-clock6.jpg"
                alt=""
                width="276"
                height="325"
              />
            </picture>
            <div class="info">
              <svg width="24" height="24" class="catalog-icons">
                <use href="./img/catalog-clock/heart-icon.svg#heart-icon"></use>
              </svg>
              <div class="info-top-div">
                <p class="info-title-top">DESCRIPTION</p>
                <p class="info-text-top">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="info-bottom-div">
                <p class="info-title-bottom">DETAILS & FEATURESTION</p>
                <p class="info-text-bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />
                  Case Material: Metal <br />
                  Features: Multifunction <br />
                  Water Resistant: 5 (ATM) <br />
                  Band Colour: Steel <br />
                </p>
              </div>
            </div>
          </div>
          <div class="catalog-bottom-div">
            <p class="catalog-top-text">Malawi Watch Police For Men</p>
            <span class="catalog-bottom-text">€555</span>
          </div>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#catalog" class="catalog-item-link link">
          <div class="catalog-top-div">
            <picture>
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock7.jpg    1x,
                  ./img/catalog-clock/catalog-clock7-2x.jpg 2x
                "
                media="(min-width:375px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock7.jpg    1x,
                  ./img/catalog-clock/catalog-clock7-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock7.jpg    1x,
                  ./img/catalog-clock/catalog-clock8-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <img
                src="./img/catalog-clock/catalog-clock7.jpg"
                alt=""
                width="276"
                height="325"
              />
            </picture>
            <div class="info">
              <svg width="24" height="24" class="catalog-icons">
                <use href="./img/catalog-clock/heart-icon.svg#heart-icon"></use>
              </svg>
              <div class="info-top-div">
                <p class="info-title-top">DESCRIPTION</p>
                <p class="info-text-top">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="info-bottom-div">
                <p class="info-title-bottom">DETAILS & FEATURESTION</p>
                <p class="info-text-bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />
                  Case Material: Metal <br />
                  Features: Multifunction <br />
                  Water Resistant: 5 (ATM) <br />
                  Band Colour: Steel <br />
                </p>
              </div>
            </div>
          </div>
          <div class="catalog-bottom-div">
            <p class="catalog-top-text">Diver 300M Co-Axial Master</p>
            <span class="catalog-bottom-text">€1200</span>
          </div>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#catalog" class="catalog-item-link link">
          <div class="catalog-top-div">
            <picture>
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock8.jpg    1x,
                  ./img/catalog-clock/catalog-clock8-2x.jpg 2x
                "
                media="(min-width:375px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock8.jpg    1x,
                  ./img/catalog-clock/catalog-clock8-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock8.jpg    1x,
                  ./img/catalog-clock/catalog-clock8-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <img
                src="./img/catalog-clock/catalog-clock8.jpg"
                alt=""
                width="276"
                height="325"
              />
            </picture>
            <div class="info">
              <svg width="24" height="24" class="catalog-icons">
                <use href="./img/catalog-clock/heart-icon.svg#heart-icon"></use>
              </svg>
              <div class="info-top-div">
                <p class="info-title-top">DESCRIPTION</p>
                <p class="info-text-top">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="info-bottom-div">
                <p class="info-title-bottom">DETAILS & FEATURESTION</p>
                <p class="info-text-bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />
                  Case Material: Metal <br />
                  Features: Multifunction <br />
                  Water Resistant: 5 (ATM) <br />
                  Band Colour: Steel <br />
                </p>
              </div>
            </div>
          </div>
          <div class="catalog-bottom-div">
            <p class="catalog-top-text">Greenlane Watch By Police For Men</p>
            <span class="catalog-bottom-text">€1000</span>
          </div>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#catalog" class="catalog-item-link link">
          <div class="catalog-top-div">
            <picture>
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock9.jpg    1x,
                  ./img/catalog-clock/catalog-clock9-2x.jpg 2x
                "
                media="(min-width:375px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock9.jpg    1x,
                  ./img/catalog-clock/catalog-clock9-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock9.jpg    1x,
                  ./img/catalog-clock/catalog-clock9-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <img
                src="./img/catalog-clock/catalog-clock9.jpg"
                alt=""
                width="276"
                height="325"
              />
            </picture>
            <div class="info">
              <svg width="24" height="24" class="catalog-icons">
                <use href="./img/catalog-clock/heart-icon.svg#heart-icon"></use>
              </svg>
              <div class="info-top-div">
                <p class="info-title-top">DESCRIPTION</p>
                <p class="info-text-top">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="info-bottom-div">
                <p class="info-title-bottom">DETAILS & FEATURESTION</p>
                <p class="info-text-bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />
                  Case Material: Metal <br />
                  Features: Multifunction <br />
                  Water Resistant: 5 (ATM) <br />
                  Band Colour: Steel <br />
                </p>
              </div>
            </div>
          </div>
          <div class="catalog-bottom-div">
            <p class="catalog-top-text">Squardrc 5402 Chrono</p>
            <span class="catalog-bottom-text">€359</span>
          </div>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#catalog" class="catalog-item-link link">
          <div class="catalog-top-div">
            <picture>
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock10.jpg    1x,
                  ./img/catalog-clock/catalog-clock10-2x.jpg 2x
                "
                media="(min-width:375px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock10.jpg    1x,
                  ./img/catalog-clock/catalog-clock10-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock10.jpg    1x,
                  ./img/catalog-clock/catalog-clock10-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <img
                src="./img/catalog-clock/catalog-clock10.jpg"
                alt=""
                width="276"
                height="325"
              />
            </picture>
            <div class="info">
              <svg width="24" height="24" class="catalog-icons">
                <use href="./img/catalog-clock/heart-icon.svg#heart-icon"></use>
              </svg>
              <div class="info-top-div">
                <p class="info-title-top">DESCRIPTION</p>
                <p class="info-text-top">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="info-bottom-div">
                <p class="info-title-bottom">DETAILS & FEATURESTION</p>
                <p class="info-text-bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />
                  Case Material: Metal <br />
                  Features: Multifunction <br />
                  Water Resistant: 5 (ATM) <br />
                  Band Colour: Steel <br />
                </p>
              </div>
            </div>
          </div>
          <div class="catalog-bottom-div">
            <p class="catalog-top-text">Diver 300M Co‑Axial Master</p>
            <span class="catalog-bottom-text">€400</span>
          </div>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#catalog" class="catalog-item-link link">
          <div class="catalog-top-div">
            <picture>
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock11.jpg    1x,
                  ./img/catalog-clock/catalog-clock11-2x.jpg 2x
                "
                media="(min-width:375px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock11.jpg    1x,
                  ./img/catalog-clock/catalog-clock11-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock11.jpg    1x,
                  ./img/catalog-clock/catalog-clock11-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <img
                src="./img/catalog-clock/catalog-clock11.jpg"
                alt=""
                width="276"
                height="325"
              />
            </picture>
            <div class="info">
              <svg width="24" height="24" class="catalog-icons">
                <use href="./img/catalog-clock/heart-icon.svg#heart-icon"></use>
              </svg>
              <div class="info-top-div">
                <p class="info-title-top">DESCRIPTION</p>
                <p class="info-text-top">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="info-bottom-div">
                <p class="info-title-bottom">DETAILS & FEATURESTION</p>
                <p class="info-text-bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />
                  Case Material: Metal <br />
                  Features: Multifunction <br />
                  Water Resistant: 5 (ATM) <br />
                  Band Colour: Steel <br />
                </p>
              </div>
            </div>
          </div>
          <div class="catalog-bottom-div">
            <p class="catalog-top-text">Citizen</p>
            <span class="catalog-bottom-text">€519</span>
          </div>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#catalog" class="catalog-item-link link">
          <div class="catalog-top-div">
            <picture>
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock12.jpg    1x,
                  ./img/catalog-clock/catalog-clock12-2x.jpg 2x
                "
                media="(min-width:375px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock12.jpg    1x,
                  ./img/catalog-clock/catalog-clock12-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog-clock/catalog-clock12.jpg    1x,
                  ./img/catalog-clock/catalog-clock12-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <img
                src="./img/catalog-clock/catalog-clock12.jpg"
                alt=""
                width="276"
                height="325"
              />
            </picture>
            <div class="info">
              <svg width="24" height="24" class="catalog-icons">
                <use href="./img/catalog-clock/heart-icon.svg#heart-icon"></use>
              </svg>
              <div class="info-top-div">
                <p class="info-title-top">DESCRIPTION</p>
                <p class="info-text-top">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="info-bottom-div">
                <p class="info-title-bottom">DETAILS & FEATURESTION</p>
                <p class="info-text-bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />
                  Case Material: Metal <br />
                  Features: Multifunction <br />
                  Water Resistant: 5 (ATM) <br />
                  Band Colour: Steel <br />
                </p>
              </div>
            </div>
          </div>
          <div class="catalog-bottom-div">
            <p class="catalog-top-text">Armani Exchange</p>
            <span class="catalog-bottom-text">€400</span>
          </div>
        </a>
      </li>
    </ul>
    <button data-modal-open type="button" class="catalog-btn">BUY NOW</button>
  </div>
</section>
