<header class="header">
  <div class="main-container">
    <div class="header-nav">

      <a class="header-logo-name" href="./index.html"><img class="logo-svg" src="/img/logo.svg" alt="logo"/>

        <p class="logo-text">thewatchspot</p>
      </a>

      <button class="burger-button" type="button" data-menu-open>
        <svg class="burger-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-menu-mobile"></use>
        </svg>
      </button>
    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-items">
          <a class="nav-link" href="#about-us">About us</a>
        </li>
        <li class="nav-items">
          <a class="nav-link" href="#catalog">Catalog</a>
        </li>
        <li class="nav-items"><a class="nav-link" href="#sale">Sale</a></li>
      </ul>
    </nav>
    <a class="button-tel" href="tel:+380684439426">
      <div class="header-button">+380 (68) 443-94-26</div></a
    >
  </div>
  <div class="mob-menu is-hidden" data-menu>
    <div class="mob-menu-header">
      <a class="header-logo-name" href="../index.html"
        ><img
          src="/img/logo.svg"
          alt="logo"
          width="14"
          height="14"
        />thewatchspot</a
      >
      <button class="close-button" type="button">
        <svg class="burger-close-icon" data-menu-close>
          <use  href="./img/icons.svg#cross-1"></use>
          <use  href="./img/icons.svg#cross-2"></use>
        </svg>
      </button>
    </div>
    <div>
      <nav class="mob-menu-nav">
        <ul class="mob-nav-list list">
          <li class="mob-nav-items">
            <a href="#about-us" link1-menu-close>About us</a>
          </li>
          <li class="mob-nav-items">
            <a href="#catalog" link2-menu-close>Catalog</a>
          </li>
          <li class="mob-nav-items">
            <a href="#sale" link3-menu-close>Sale</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
