<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/png" href="./img/favicon-32x32.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>The Watch Spot</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&display=swap"
            rel="stylesheet"/>
        <link rel="stylesheet" href="../css/styles.css" />
        <link rel="stylesheet" href="../css/new-watches.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    </head>
    <body>
    <div class="new-watches-section ">
        <div class="new-watches-container container">
            <h2 class="new-watches-header">New watches</h2>
            <p class="new-watches-text">Green And Bronze—The Match Made In Heaven</p>
            <ul class="new-watches-list list">
                <li class="new-watches-item">
                    <picture>
                        <source srcset="../img/new-watches/new-watches-mobile1.jpg 1x, ../img/new-watches/new-watches-mobile1-2x.jpg 2x " media="(max-width:767px)">
                        <source srcset="../img/new-watches/new-watches-tab1.jpg 1x, ../img/new-watches/new-watches-tab1-2x.jpg 2x" media="(min-width:768px)">
                        <source srcset="../img/new-watches/new-watches-desktop1.jpg 1x, ../img/new-watches/new-watches-desktop1-2x.jpg 2x" media="(min-width:1280px)">

                        <img src="../img/new-watches/new-watches-mobile1.jpg" alt="hand with new watches" >
                    </picture>
                </li>
                <li class="new-watches-item">
                    <picture>
                        <source srcset="../img/new-watches/new-watches-mobile2.jpg 1x, ../img/new-watches/new-watches-mobile2-2x.jpg 2x " media="(max-width:767px)">
                        <source srcset="../img/new-watches/new-watches-tab2.jpg 1x, ../img/new-watches/new-watches-tab2-2x.jpg 2x" media="(min-width:768px)">
                        <source srcset="../img/new-watches/new-watches-desktop2.jpg 1x, ../img/new-watches/new-watches-desktop2-2x.jpg 2x" media="(min-width:1280px)">
                        <img src="../img/new-watches/new-watches-mobile2.jpg" alt="new watches">
                    </picture>
                </li>
            </ul>

        
        </div>

    </div>
    



        
    </body>
</html>

