<section class="new-watches-section section">
  <div class="new-watches-container container">
    <h2 class="new-watches-header">New watches</h2>
    <p class="new-watches-text">Green And Bronze—The Match Made In Heaven</p>
    <ul class="new-watches-list list">
      <li class="new-watches-item">
        <img
          srcset="
            ./img/new-watches/new-watches-mobile1.jpg    1x,
            ./img/new-watches/new-watches-mobile1-2x.jpg 2x
          "
          class="new-watches-mobile"
          src="./img/new-watches/new-watches-mobile1.jpg"
          alt="hand with new watches"
        />
        <img
          srcset="
            ./img/new-watches/new-watches-tab1.jpg    1x,
            ./img/new-watches/new-watches-tab1-2x.jpg 2x
          "
          class="new-watches-tablet"
          src="./img/new-watches/new-watches-tab1.jpg"
          alt="hand with new watches"
        />
        <img
          srcset="
            ./img/new-watches/new-watches-desktop1.jpg    1x,
            ./img/new-watches/new-watches-desktop1-2x.jpg 2x
          "
          class="new-watches-desktop"
          src="./img/new-watches/new-watches-desktop1.jpg"
          alt="hand with new watches"
        />
      </li>
      <li class="new-watches-item">
        <img
          srcset="
            ./img/new-watches/new-watches-mobile2.jpg    1x,
            ./img/new-watches/new-watches-mobile2-2x.jpg 2x
          "
          class="new-watches-mobile"
          src="./img/new-watches/new-watches-mobile2.jpg"
          alt="hand with new watches"
        />
        <img
          srcset="
            ./img/new-watches/new-watches-tab2.jpg    1x,
            ./img/new-watches/new-watches-tab2-2x.jpg 2x
          "
          class="new-watches-tablet"
          src="./img/new-watches/new-watches-tablet2.jpg"
          alt="hand with new watches"
        />
        <img
          srcset="
            ./img/new-watches/new-watches-desktop2.jpg    1x,
            ./img/new-watches/new-watches-desktop2-2x.jpg 2x
          "
          class="new-watches-desktop"
          src="./img/new-watches/new-watches-desktop2.jpg"
          alt="hand with new watches"
        />
      </li>
    </ul>
  </div>
</section>
