<section class="sale-section" id="sale">
  <div class="container sale-container">
    <h2 class="sale">Sale</h2>
    <div class="for-tab">
      <div class="flex">
        <div class="photo">
          <ul class="photo-item">
            <li class="photo-set">
              <img
                class="mini-photo"
                src="./img/sale/sale-desktop1.jpg"
                srcset="
                  ./img/sale/sale-desktop1-2x.jpg 2x,
                  ./img/sale/sale-desktop1.jpg    1x
                "
                alt="clock"
              />
            </li>
            <li class="photo-set">
              <img
                class="mini-photo"
                src="./img/sale/sale-desktop2.jpg"
                srcset="
                  ./img/sale/sale-desktop2-2x.jpg 2x,
                  ./img/sale/sale-desktop2.jpg    1x
                "
                alt="clock"
              />
            </li>
            <li class="photo-set">
              <img
                class="mini-photo"
                src="./img/sale/sale-desktop3.jpg"
                srcset="
                  ./img/sale/sale-desktop3-2x.jpg 2x,
                  ./img/sale/sale-desktop3.jpg    1x
                "
                alt="clock"
              />
            </li>
            <li class="photo-set">
              <img
                class="mini-photo"
                src="./img/sale/sale-desktop4.jpg"
                srcset="
                  ./img/sale/sale-desktop4-2x.jpg 2x,
                  ./img/sale/sale-desktop4.jpg    1x
                "
                alt="clock"
              />
            </li>
          </ul>
        </div>
        <div class="big-clock">
          <img
            class="last-clock"
            src="./img/sale/sale-desktop5.jpg"
            srcset="
              ./img/sale/sale-desktop5-2x.jpg 2x,
              ./img/sale/sale-desktop5.jpg    1x
            "
            alt="clock"
          />
        </div>
      </div>

      <div class="desktop">
        <div class="product">
          <h3 class="title-product">Greenlane Watch By Police For MenHT</h3>
          <p class="text">Product tag: PEWJK2227003</p>
          <div class="price">
            <p class="price-big">€700</p>
            <p class="price-line">€1000</p>
          </div>
        </div>
        <div class="description">
          <h4 class="text-title">Description</h4>
          <p class="text-first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="details">
          <h4 class="text-title">DETAILS & FEATUREStion</h4>
          <p class="text-second">
            Gender: man <br />
            Size: 46x54.5mm <br />
            Case Colour: Steel <br />
            Band Material: Metal <br />
            Case Material: Metal <br />
            Features: Multifunction <br />
            Water Resistant: 5 (ATM) <br />
            Band Colour: Steel
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
