.footer {
  background-color: var(--Dark-green);
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 40px;
  margin-left: 0;
}

.footer-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.footer-nav {
  display: flex;
  flex-wrap: nowrap;
}

.footer-logo {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
}

.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-address {
  width: 140px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-nav-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.footer-nav-item a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  height: 40px;
  flex-wrap: nowrap;
  gap: 14px;
  margin-bottom: 80px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  fill: var(--Main-color);
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25%;
}

.footer-social-icon {
  width: 24px;
  height: 24px;
}

.footer-social-link:is(:hover, :focus) {
  background-color: var(--Main-color);
  border: 1px solid var(--Main-color);
  fill: var(--Dark-green);
}

.footer-social-link {
  transition: background-color var(--transition-dur);
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.footer-rights {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--footer-agreements-color);
  opacity: 0.9;
  padding-bottom: 0;
}

.footer-agreements {
  display: flex;
  gap: 14px;
}

.footer-privacy,
.footer-terms {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  /* text-align: right; */
  letter-spacing: -0.02em;
  color: var(--footer-agreements-color);
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
  }

  .footer-main {
    margin-bottom: 152px;
  }

  .footer-logo {
    width: 50px;
    height: 50px;
  }

  .footer-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
  }

  .footer-address {
    width: 180px;
  }

  .footer-nav-item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }

  .footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
  }

  .footer-social {
    gap: 16px;
    height: 44px;
    margin-bottom: 0;
  }

  .footer-social-item {
    width: 44px;
    height: 44px;
  }

  .footer-social-icon {
    width: 28px;
    height: 28px;
  }

  .footer-copyright {
    display: flex;
    width: 704px;
    justify-content: space-between;
    align-items: center;
  }

  .footer-rights {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: var(--footer-agreements-color);
    opacity: 0.9;
  }

  .footer-agreements {
    display: flex;
    gap: 18px;
  }

  .footer-privacy,
  .footer-terms {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: right;
    letter-spacing: -0.02em;
    color: var(--footer-agreements-color);
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 104px;
    padding-bottom: 32px;
  }

  .footer-main {
    margin-bottom: 174px;
  }

  .footer-copyright {
    width: 1216px;
  }
}
