.list {
  text-decoration: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.header {
  overflow: hidden;
  position: relative;
  background-color: var(--Black);
}

.main-container {
  padding: 29px 15px;
}

.nav {
  display: none;
}

.header-logo-name {
  font-family: 'Epilogue';
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.burger-icon {
  fill: #ffffff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-button {
  background-color: transparent;
  border: 0;
}

.mob-menu {
  width: 100%;
  height: 100%;
  background-color: #1e2827;
  top: 0;
  left: 0;
  position: fixed;
  padding: 29px 20px;
  z-index: 3;
}

.mob-menu-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background-color: transparent;
  border: 0;
}

.burger-close-icon {
  stroke: rgba(255, 255, 255, 1);
}

.mob-menu-nav {
  text-align: center;
  margin-top: 200px;
}

.mob-nav-list {
  color: #ffffff;
  font-family: 'Epilogue';
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.mob-nav-items:not(:last-child) {
  margin-bottom: 14px;
}

.header-button {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-container {
    padding: 20px 15px;
  }

  .mob-menu {
    display: none;
  }

  .burger-button {
    display: none;
  }

  .burger-icon {
    display: none;
  }

  .nav {
    display: block;
    margin-left: 80px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
    font-family: 'Epilogue';
    font-size: 9px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  .main-container {
    display: flex;
    align-items: center;
  }

  .header-button {
    margin-left: auto;
    font-family: 'Epilogue';
    font-size: 9px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 18px 35px;
    display: flex;
    background-color: #1e2827;
    border-radius: 8px;
    border: 0;
  }
}

@media screen and (min-width: 1280px) {
  .main-container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
  }
}
