.flex {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.photo-item {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 375px;
  }

  .sale-section {
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: var(--B-g-color);
  }
  .for-tab {
    margin: 0 auto;
  }
  .big-clock {
    max-width: 235px;
    margin-left: 20px;
  }
   .last-clock {
    max-height: 350px;
  } 

  

  .sale {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    color: var(--Black);
  }

  .title-product {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--Black);
  }

  .text {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--Price-color);
  }

  .price-big {
    font-family: 'Neue Montreal';
    margin-right: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: var(--Black);
  }

  .price-line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    color: var(--Price-color);
  }

  .text-title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--Black);
  }

  .text-first {
    padding-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: var(--Price-color);
  }

  .text-second {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: var(--Price-color);
  }

  .text-title::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    background-color: #141414;
    height: 1px;
    top: 0;
    right: 0;
  }

  .text-title {
    color: #141414;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    margin: 0 0 1rem;
    padding-top: 8px;
  }
  .text-title::after {
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    width: 1rem;
    height: 1px;
    background-color: #141414;
  }

  .text-title {
    margin-bottom: 17px;
  }
  .photo-set {
    max-width: 80px;
  }
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    height: auto;
  }

  .for-tab {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .sale {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }

  .title-product {
    width: 572px;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.02em;
  }

   .flex{
    justify-content: space-between;
   }

  .price {
    margin-bottom: 40px;
  }

  .details {
    width: 572px;
  }

  .description {
    width: 572px;
  }
  .big-clock {
    max-width: 406px;
    margin-left: 20px;
  }
  .last-clock {
    max-height: 614px;
  }
  .photo-set {
    max-width: 146px;
  }
}

/* END TABLET */

/* DESKTOP */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  /* .sale-section {
    padding: 160px 0;
  } */

  .for-tab {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    align-items: flex-start;
    justify-content: center;
  }

  .flex {
    padding: 0;
    margin: 0;
  }

  .sale {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }

  .title-product {
    font-weight: 400;
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.02em;
    width: 369px;
  }

  .details {
    padding-bottom: 0;
    width: 369px;
  }

  .description {
    width: 369px;
  }

  .desktop {
    margin-left: 40px;
  }

  .big-clock {
    margin-left: 20px;
    width: 406px;
  }
  .last-clock {
    height: 614px;
  }

  .mini-photo {
    width: 146px;
    height: 146px;
  }
}

/* ////// */
